version: '3.9'

services:
  library-app:
    build:
      context: .
    container_name: library-app
    depends_on:
      - postgres-db
    ports:
      - "8081:8080"

  postgres-db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
